<div class="row" id="espacioDos">
    <div class="col-lg-12 col-md-12">
        <h1>Bienvenido</h1>
    </div>
</div>

<div class="row" id="espacio">
    <div class="col-lg-4 col-md-4">
    </div>
    <div class="col-lg-4 col-md-4">
        <p>Estas a punto de embarcarte en la mayor búsqueda de animales por el mundo, si estas listo presiona “Comenzar ”.</p>
    </div>
    <div class="col-lg-4 col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-5">
    </div>
    <div class="col-lg-2 col-md-2">
        <a href="#/mision">
            <button id="botonHome">Ingresar</button>
        </a>
    </div>
    <div class="col-lg-5 col-md-5">
    </div>

</div>


<div class="row">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-8">
        <img src="css/img/ilustracion.png">
    </div>
</div>
<div class="col-lg-2 col-md-3">
</div>
