<div class="row" id="espacio">
    <div class="col-lg-12 col-md-12">
        <h1>Tu primera misión</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
    </div>
    <div class="col-lg-4 col-md-4">
        <p>En tu primera misión debes encontrar estos cuatro animales y el animal final el cual es un misterio, pero en tu camino encontrarás distintas pistas para ayudarte.</p>
    </div>
    <div class="col-lg-4 col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-3">
    </div>
    <div class="col-lg-6 col-md-6">
        <img src="css/img/mision1.png">
        <img src="css/img/mision2.png">
        <img src="css/img/mision5.png">
        <img src="css/img/mision3.png">
        <img src="css/img/mision4.png">
    </div>
    <div class="col-lg-3 col-md-3">
    </div>
</div>


<div class="row">
    <div class="col-lg-2 col-md-1">
    </div>
    <div class="col-lg-8 col-md-8">
        <img src="css/img/ilustracion.png">
    </div>
    <div class="col-lg-2 col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-lg-5 col-md-5">
    </div>
    <div class="col-lg-2 col-md-2">
        <a href="#/mapa">
            <button id="botonMision">Jugar</button>
        </a>
    </div>
    <div class="col-lg-5 col-md-5">
    </div>
</div>